{% extends "base.html" %}

{% block titulo %}Libros{% endblock %}

{% block contenido %}
<h2>Libros disponibles</h2>

{% if session.usuario %}
  <p>Bienvenido, {{ session.usuario }} 👋</p>
{% endif %}

<table border="1">
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Estado</th>
    </tr>
    {% for libro in libros %}
    <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor }}</td>
        <td>
            {% if libro.disponibles > 0 %}
                Disponible ({{ libro.disponibles }})
            {% else %}
                No disponible
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}